<% provide(:title, 'Kontakt') %>
<% @hide_ad=true %>
<div id="contact-container">

  <div id="contact-box">
    <h1>Kontakt</h1>
    <p>Kontakt os per <a href="mailto:kontakt@foodl.dk">mail</a>.</p>
  </div>
</div>