<div id="logo">
  <%=image_tag("logo.png", :alt => "Foodl") %>
</div>
<div id="main">
  <ul>
  </ul>
  <div id="search">
    <form action="/" method="get">
    <input type="text" class="text" id="ingredient" />
    <input type="submit" class="button" value="Søg" />
  </form>
  </div>
</div>
