<footer>
  <nav>
  <a href="#">Rapport&eacute;r fejl</a>
  <%= link_to "Om Foodl", :controller => "home", :action => "about" %>
  <%= link_to "Kotakt Foodl", :controller => "home", :action => "contact" %>
  </nav>
</footer>

<div id="loading">
<div class="img">
  <img src="<%=image_path "grimanimation.gif" %>" alt="Vent venligst..." />
</div>
<div>
  Vent venligst...
</div>
</div>
