<div id="top">
  <a href="<%=url_for :controller => 'home', :action => 'index' %> ">
    <%=image_tag("logobw.png", :alt => "Foodl") %>
  </a>
  <div id="menu">
    <nav>
    <a href="#">Log ind</a>
    <a href="#">Indkøbsliste (tom)</a>
    <a href="#">Favoritter (0)</a>
    </nav>
  </div>
</div>