<header>
  <a href="<%=url_for :controller => 'home', :action => 'index' %> ">
    <%=image_tag("logobw.png", :alt => "Foodl") %>
  </a>
  <nav>
    <a href="#">Log ind</a>
    <a href="#">Indkøbsliste (tom)</a>
    <a href="#">Favoritter (0)</a>
  </nav>
</header>
