<header>
  <a href="<%=url_for :controller => 'search', :action => 'index' %> ">
    <%=image_tag("logobw.png", :alt => "Foodl") %>
  </a>
  <nav>
    <%= link_to "Log ind", :controller => "users", :action => "new" %>
    <a href="#">Indkøbsliste (tom)</a>
    <a href="#">Favoritter (0)</a>
  </nav>
</header>
