<div id="toolbar">
  <div id="subtoolbar">
    <div id="prep-time" class="slidertool">
      <input type="checkbox" id="min30" name="min" value="1" /><label for="min30"> &lt; 30 min. </label>
      <input type="checkbox" id="min30-60" name="min" value="2" /><label for="min30-60"> 30 - 60 min. </label>
      <input type="checkbox" id="min60" name="min" value="4" /><label for="min60"> &gt; 60 min. </label>
    </div>

    <div class="slidertool">
      <p>Antal personer: <span id="amount"> </span></p>
      <div id="amount-slider"></div>
    </div>

    <div id="sorting" class="slidertool">
      <input type="radio" id="name" name="sort" /><label for="name"> Navn </label>
      <input type="radio" id="ingredients" name="sort" checked="checked" /><label for="ingredients"> Ingredienser </label>
      <input type="radio" id="prep" name="sort" /><label for="prep"> Tilberedningstid </label>
    </div>
  </div>
</div>