<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hej <%= @user.email.split("@")[0] %></h1>
    <p>
      Du har bedt om et nyt kodeord til din bruger på <a href="http://foodl.dk">Foodl</a>.
    </p>
    <p>
      Dit nye kodeord er: <strong><%=@password %></strong>
    </p>
    <p>
      Med venlig hilsen<br/>
      Elias Obeid<br/>
      Foodl Ambassadør
    </p>
  </body>
</html>
