<h1>Favoritter</h1>
<% if @favs; begin %>
<div id="recipe-result">
<ul>
	<%= render :partial => 'search/recipe', :locals => { :recipes => @favs, :search => false } %>
</ul>
</div>
<% end %>
<% elsif %>
<p>Du har ingen favoriter endnu. Favoriser opskrifter under søgninger og du vil kunne finde dem igen her.</p>
<% end %>
