<div id="logo">
  <%=image_tag("logo.png", :alt => "Foodl") %>
</div>
<div id="search">
  <form action="/" method="get">
      <input type="text" class="text" id="ingredient" placeholder="Indtast råvare" />
    <input type="submit" class="button" value="Søg" />
  </form>
</div>

<div id="menu-container" style="position:absolute; width: 185px;"></div>
