<div id="logo">
  <%=image_tag("logo.png", :alt => "Foodl") %>
</div>
<div id="search">
  <ul>
  </ul>
  <form action="<%=url_for :action => "result" %>" method="get" id="search-form">
    <input type="hidden" name="q" class="food-types" />
    <input type="text" class="text" id="ingredient" placeholder="Indtast råvare" />
    <input type="submit" class="button submit-button" value="Søg" />
  </form>
</div>

<div id="menu-container" style="position:absolute; width: 185px;"></div>
