<% @hide_ad=true %>

<div id="logo">
  <%=image_tag("logo.png", :alt => "Foodl") %>
</div>
<div id="search">
  <%= render :partial => 'search/form', :locals => { :food_types => [] } %>
</div>

<div id="menu-container" style="position:absolute; width: 185px;"></div>

<div>Test</div>
