<div class="welcome">
  <form action="" method="get">
  <h1>Velkommen til Foodl</h1>
  <p><strong>Foodl</strong> hjælper dig med at finde opskrifter baseret på de ubrugte
    råvarer du har til at ligge i bunden af dit køleskab.</p>

  <p>Start med at indtaste de råvarer du ønsker at bruge i nedenstående
  felt. Skriv f.eks. "Gulerødder" og klik på "Gulerødder" i boksen
  der kommer frem, eller tryk på enter. Klik til sidst på "Søg"-knappen
  for at udføre søgningen.</p>

  <input type="submi" class="button" value="Fjern denne tekst" />
</form>
</div>
<div id="logo">
  <%=image_tag "logo.png", :alt => "Foodl" %>
</div>
<div id="search">
  <%= render :partial => 'search/form', :locals => { :food_types => [] } %>

</div>

<div id="menu-container" style="position:absolute; width: 185px;"></div>

<div>


</div>
