<% provide(:title, 'Søgningsresultat') %>
<% @toolbar=true %>

<div id="recipe-result">
  <ul>
    <%= render :partial => 'search/recipe', :locals => { :recipes => @recipes, :search => @food_types } %>
  </ul>
</div>

<div id="sidebar">
  <h2>Din søgning</h2>
  <%= render :partial => 'search/form', :locals => { :food_types => @food_types } %>
  
  <div id="menu-container" style="position:absolute; width: 185px;"></div>
</div>