<% @toolbar=true %>

<div id="sidebar">

</div>

<div>
  <ul>
    <li>
      <img src="http://img.arla.dk/arladk/470x296/c03abb9f63f14fac838769dfcb4c0106_470x296_Rullekebab.jpg" width="200px">
        <button class="favour-button favoured">Fjern opskrift fra favoritter</button>
      <h2>Durum</h2>
      <ul>
        <li>kebab </li>
        <li>iceberg salat </li>
        <li>dressing </li>
        <li>tomat </li>
      </ul>
    </li>
  </ul>
</div>