<% @toolbar=true %>

<div id="sidebar">

</div>

<div id="recipe-result">
  <ul>
    <li>
      <a href="http://www.arla.dk/opskrifter/Rullekebab/">
        <img src="http://img.arla.dk/arladk/470x296/c03abb9f63f14fac838769dfcb4c0106_470x296_Rullekebab.jpg" width="200">
      </a>
      <button class="favour-button favoured">Fjern opskrift fra favoritter</button>
      <h2><a href="http://www.arla.dk/opskrifter/Rullekebab/">Durum</a></h2>
      <div class="rating">
        <div style="width:50%;"></div>
      </div>
      <ul>
        <li>kebab </li>
        <li>iceberg salat </li>
        <li>dressing </li>
        <li>tomat </li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
        <li>jadfkj</li>
      </ul>
      <div class="recipe-actions">
        <a href="#" class="report-button ui-button-icon-only" title="Rapporter en fejl vedr. opskriften">
          
        </a>
        <p> Tilberedningstid: 30 min. </p>
      </div>
    </li>
  </ul>
</div>