
<div id="shopping_list">
  <div class="blue_line_vertical"></div>
  <div id="print_button_div" class="no_print">
    <input type="button" class="print_button" value="Udskriv" onclick="window.print();return false;" />
  </div>
  <div id="shopping_list_title">
    <h1>
      Indkøbsliste
    </h1>
  </div>
  <div id="list">
  <ul>
    <div class="blue_line_horisontal"></div>
    <% @shopping_list.each do |item| %>
        <li data-id="<%= item.id %>"> <%= formatQuantityAndUnit(item) %> <%= item.name %> <a href="#"></a></li>
        <div class="blue_line_horisontal"></div>
    <% end %>
  </ul>
  </div>
</div>
<%= render partial: 'form' %>
