
<div id="login_dialog">
  <div class="login">
    <form action="/" method="get">
      <input type="text" class="text" id="brugernavn" />
    </form>
  </div>
  <div class="login">
    <form action="/" method="get">
      <input type="password" class="text" id="password" />
    </form>
  <div id="create_new_user"> 
    <a href="#">Opret bruger</a>
  </div>
  <div id="forgot_password?">
    <a href="#">Glemt password? Få hjælp her</a>
  </div>
</div>

