<div id="Login_content">
  <div id="login_dialog">
    <h1>
      Log på Foodl
    </h1>
    <div id="get_brugernavn_box" style="height: 40px">
      <form action="/" method="get">
        <input type="text" class="text" id="brugernavn" title="Brugernavn" />
      </form>
    </div>
    <div id="get_password_box">
      <form action="/" method="get">
        <input type="password" class="text" id="password" title="Kodeord" />
      </form>
    </div>
    <div id="login_button">
      <input type="submit" class="button" value="Log ind" />
    </div>
  </div>
  <div id="create_new_user"> 
      <a href="#">Opret bruger</a>
      <a href="#">Glemt password? Få hjælp her</a>
  </div>
</div>
