
<div id="Edit_page">
  <div id="Register_user">
  <h1>Glemt kodeord?</h1>
  <p>Skriv din email i feltet herunder for at få tilsendt et nyt kodeord.</p>
  <%= form_for @user, url: {action: :reset_password} do |f| %>

    <div class="input">
      <%= f.email_field :email, class: "text" %>
    </div>

    <div class="actions">
      <%= f.submit "Send kode", class: "button" %>
    </div>
  <% end %>
  </div>
  <div id="pinapple">
    <%=image_tag "pineapple.png" %>
  </div>
</div>
