// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  position:fixed;
  width: 200px - 2*8px;
  padding: 8px;
  
  border-radius: 5px;
  background-color: #f7fcf7;
  box-shadow:0 0 32px 0 #ccd2cc; 
  
  form{ text-align: left; }
  form input.text{ width: 120px; }
  
  ul { list-style-type:none; }
}

#search {
  margin-bottom:200px;
}

#search ul {
  width:195px;
  margin:0 auto;
  padding-right:74px;
  list-style-type:none;
}

#search ul li, #sidebar ul li {
  margin-bottom:4px;
  text-align:left;
  padding:0 2px;
  font-size:1.1em;
}


#search input.text {
  width:185px;
  margin-right:8px;
}

#search input.button {
  width:64px;
}

@mixin animation( $anim ) {
  -ms-animation: $anim;
  -webkit-animation: $anim;
  -moz-animation: $anim;
  animation: $anim;
}

#recipe-result{
  width:592px;
  float:right;
  
  li {
	  text-align:left;
	  list-style-type: none;
	}

	& > ul > li {
		background-color: #f7fcf7;
		box-shadow:0 0 32px 0 #ccd2cc; 
		border-radius: 5px;
		margin-bottom:8px;
		padding: 8px;

		& > * { margin-left: 208px; }
		
		& > h2, & > .recipe-actions,
		& > a, & > .shopping-button,
		& > .favour-button {
			margin-left: 0;
		}
		
		.relevance{ color:gray; }
		
		//Reduce size of image
		& > a > img {
			width: 200px;
			float:left;
		}
		
		//Rating
		.rating {
			height: 16px;
			width: 80px;
			background-image: url(images/rating.png);
			background-position: 0px 16px;
			position: relative;
			float: right;
			clear: right;
			margin-top: 4px;
			margin-left: 0px;
			
			div {
				height: 16px;
				background-image: url(images/rating.png);
				background-position: 0px 0px;
			}
		}
		
		.recipe-actions{ clear:left; }
		
		//Styling for report button
		.report-button {
			display: block;
			float: right;
			height: 16px;
			width: 16px;
			
			.ui-icon{
				//Overide some jQuery-ui stuff
				position: static;
				top: auto;
				left: auto;
				margin: 0;
			}
		}
		
		.favour-button, .shopping-button{
			float:right;
		}
		.shopping-button{ margin-right:8px; }
		
		//Styling of favoured button + animations
		.favoured .ui-icon-heart { //Default image for favoured
			background-image:url(images/ui-icons_deepred_256x240.png);
		}
		.favour-button:hover{ //Override highlight color on hover
			background:white url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
			
			.ui-icon-heart { //Favouring animation
				background-image:url(images/ui-icons_deepred_256x240.png);
				@include animation( heartbeat 0.65s cubic-bezier(1,0,1,.75) 0s infinite alternate none );
			}
		}
		.favoured:hover  .ui-icon-heart{ //Animation for defavouring
			background-image:url(images/ui-icons_666666_256x240.png);
			@include animation( heartstroke 0.65s ease-in-out 0s 1 normal forwards );
		}
		
		//Styling of ingredients
		& > ul {
			//	height: 100px;
			overflow: hidden;
			clear: right;
			
			& :hover {
				overflow:visible;
			}
			
			.in_search{ font-weight:bold; }

			.foodtype{
				float:right;
				color:gray;
			}
		}
	}
}


.welcome {
  width:400px;
  margin:32px auto 32px;
  border-radius: 5px;
  padding: 16px ;
  background-color: #f7fcf7;
  box-shadow:0 0 32px 0 #ccd2cc; 
  font-size:1.1em;
}

