

#Register_user {
  border-radius: 5px;
  width: 300px;
  float: left;
  padding: 20px;
  background-color: #eee;
}

.input {
  margin-bottom: 10px;
  text-align: center;
}

#Login_content {
  border-radius: 5px;
  width: 300px;
  float: right;
  padding: 20px;
  background-color: #eee;
}
