
#Login_page {
}

#Register_user {
  border-radius: 5px;
  width: 300px;
  float: left;
  padding: 20px;
  background-color: #eee;
}

.input {
  margin-bottom: 10px;
  text-align: left;
  
}

.input input {
  float: right;
  width: 180px;
}

#Login_content {
  border-radius: 5px;
  width: 300px;
  float: right;
  padding: 25px;
  background-color: #eee;
}
