

#Register_user {
  border-radius: 5px;
  width: 300px;
  float: left;
  padding: 20px;
  background-color: #f7fcf7;
  box-shadow:0 0 32px 0 #ccd2cc; 
}

#Login_content {
  border-radius: 5px;
  width: 300px;
  float: right;
  padding: 20px;
  background-color: #f7fcf7;
  box-shadow:0 0 32px 0 #ccd2cc; 
}

#Login_content .links {
  font-size:1.1em;
  margin-bottom:10px;
  padding:1px;
}

#pinapple {
  float:right;
  width:300px;
  text-align:center;
  margin-top:-10px;
}
